body {
  background-color: $pink;
}

#back-to-top {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s bottom ease-out, 0.2s opacity ease-out,
    0.5s transform ease-out;

  &.down {
    transform: translateX(-50%) rotate(180deg);

    &:hover {
      transform: translateX(-50%) rotate(180deg);
    }
  }
  &:hover {
    cursor: pointer;
    transform: translateX(-50%);
    bottom: 12px;
  }
}

.manifesto-gif {
  max-width: 100%;
  text-align: center;
  margin: 100px auto 0 auto;
  display: block;
}
