.instagram-wrap {
  width: 100%;
  position: absolute;
  top: 100vh;

  ul.social {
    display: none;
    list-style-type: none;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

    @media screen and (max-width: 460px) {
      display: flex;
    }

    li {
      a {
        svg {
          circle {
            transition: 0.2s all ease-out;
          }
          path {
            transition: 0.2s all ease-out;
          }
        }

        &:hover {
          svg {
            circle {
              fill-opacity: 0.6;
            }
            path {
              fill: $pink;
            }
          }
        }
      }
    }
  }

  ul.instagram-grid {
    max-width: 860px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    @media screen and (max-width: 960px) {
      padding: 0 20px;
      justify-content: space-around;
    }
    @media screen and (max-width: 740px) {
      padding: 0;
    }
  }
}
