ul.instagram-grid {
  li {
    margin-bottom: 40px;
    a {
      article {
        display: block;
        width: 260px;
        height: 260px;
        background-color: rgba(255, 255, 255, 0.4);
        transition: 0.2s transform ease-out;
        box-shadow: 0 0 0px 0 rgba(0,0,0,0);
        background-size: cover;
        backgorund-position: center center;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
        }
      }
    }
  }
}

.post-template {
  display: none;
}