h1.title {
  text-align: center;
  padding: 0 30px;
  box-sizing: border-box;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: -2px;
  margin: 0 auto;
  margin-top: calc(50vh - (72px / 2) - 48px);

  @media screen and (max-width: 740px) {
    font-size: 54px;
    letter-spacing: -0.63px;
  }
  @media screen and (max-width: 620px) {
    font-size: 34px;
  }
  @media screen and (max-width: 460px) {
    font-size: 24px;
  }
}