
    <div id="back-to-top">
        <svg width="40px" height="40px" viewBox="0 0 40 40" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <rect id="path-1" x="0" y="0" width="40" height="40" rx="20"></rect>
            </defs>
            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Back-To-Top">
                    <g>
                        <g id="Rectangle-3">
                            <use fill-opacity="0.3" fill="#FFFFFF" fill-rule="evenodd" xlink:href="#path-1"></use>
                            <rect stroke="#FFFFFF" stroke-width="4" x="2" y="2" width="36" height="36" rx="18"></rect>
                        </g>
                        <path d="M12.5,22.5 L19.5,15.5" id="Line" stroke="#FFFFFF" stroke-width="4" stroke-linecap="square"></path>
                        <path d="M19.5,15.5 L26.5622577,22.5" id="Line" stroke="#FFFFFF" stroke-width="4" stroke-linecap="square"></path>
                    </g>
                </g>
            </g>
        </svg>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.7/jquery.lazy.min.js" integrity="sha512-s7KjXMoRbW+vU+IC+2aLL0T/vtPsuCNMRxJz2yJ5V2/Mf4Qidb95iRv0M6/rPRCWL8SwDdimeUfQLeVNFGPrBw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/app.js"></script>

</body>
</html>