@import "tailwindcss";

@theme {
  --font-sans: "Roboto", sans-serif;
}

@theme {
  /* Vanilla Ice */
  --color-pinko: rgb(245, 221, 222);
  --color-pinko-70: #fbf5f5;
  --color-pinko-dirty: #dbb2b4;
}

@utility dbg {
  @apply rounded-md border-[1px] border-red-500;

  & * {
    @apply border-[1px] border-dotted border-red-300;
  }
}
@utility clamp-text-* {
  font-size: clamp(--value([ *]));
  line-height: clamp(--value([ *]));
}
