#desktop-droplet {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  will-change: transform;
  transform: translateZ(0);
  display: none;

  #mirror {
    fill: #fbd1d6;
    will-change: transform;
    transform: translateZ(0);
  }

  #circle {
    fill: #fbd1d6;
    will-change: transform;
    transform: translateZ(0);
  }
}