---
import Hero from "~/components/Hero.astro";
import Blockquote from "~/components/primitives/Blockquote.astro";
import H2 from "~/components/primitives/H2.astro";
import Paragraph from "~/components/primitives/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout class="pb-20">
  <title slot="title">Pinkosensitivism ~ About</title>
  <Hero slot="hero" class="min-h-80 pt-16 pb-20" />

  <main class="mx-auto w-full max-w-[1020px] px-[30px] md:px-5">
    <article>
      <H2>Pinkosensitivism as Neologism</H2>
      <Paragraph>
        Pinkosensitivism is a new word coined especially for a user affected by
        the color pink, and is meaningless otherwise. It's a combination of two
        existing words pink, sensitive and a suffix -ism which in general
        describes the audience and the goal of the project.
      </Paragraph>

      <Blockquote>
        <strong>Pink</strong>
        - Pale red color that is named after a flower of the same name. Pink is the
        color most often associated with charm, politeness, sensitivity, tenderness,
        sweetness, childhood, femininity and the romantic.
        <br /><br />
        <strong>Sensitive</strong>
        - Adjective which derives from Middle French sensitif, and describes having
        the faculty of sensation, pertaining to the senses. Responsive to stimuli.
        <br /><br />
        <strong>-ism</strong>
        - Suffix in many English words, originally derived from the Ancient Greek
        suffix -ισμός (-ismós). It is often used in philosophy to define specific
        ideologies, and, as such, at times it is used as a noun when referring to
        a broad range of ideologies in a general sense.
      </Blockquote>

      <H2>Explore #pinkosensitivism</H2>
      <Paragraph>
        Pinkosensitivism is an ongoing Art Project which formed itself
        spontaneously by the author’s interest in femininity and with further
        research of the feminine space. The project is conceived as a hashtag
        (#) on social platforms (mainly on Instagram because it provides a
        powerful visual experience) where individual authors can tag their own
        posts with #pinkosensitivism and create an overall experience of
        dominant pink environment. Instagram profile @pinkosensitivism should
        not be the sole focus of this project because it serves as a showcase
        where individuals can submit photos, artworks etc...
      </Paragraph>

      <H2>Terms of Use</H2>
      <Paragraph>
        There are no rules on what you can tag with #pinkosensitivism as long as
        it is pink (in any shades). All daily active users are encouraged to use
        #pinkosensitivism on individual photographs, and avoid unknown pictures
        on Internet, or at least if reposted to be credited properly, because
        ownership rights are important.
      </Paragraph>

      <H2>Future plans</H2>
      <Paragraph>
        At the moment, Pinkosensitivism exist only in the realms of digital
        platforms but in the future, a special format of an exhibition could be
        possible in which a selection of photographs could be brought to
        physical space (with the authors’ permission)
      </Paragraph>
    </article>
  </main>
</Layout>
