---
import { Image } from "@unpic/astro";
import { blurhashToCssGradientString } from "@unpic/placeholder";
import Hero from "~/components/Hero.astro";
import { PostRepository } from "~/lib/PostRepository";
import Layout from "../layouts/Layout.astro";
import { cn } from "../lib/utils/cn";

const posts = await PostRepository.all();
---

<Layout class="pb-20">
  <Hero slot="hero" />

  <main class="instagram-wrap mx-auto max-w-[860px] px-5">
    <ul
      id="instagram-grid"
      class={cn(
        "m-0 grid list-none grid-cols-2 gap-5 p-0 md:grid-cols-3 md:gap-10",
        posts.length % 3 === 1 && "[&>*:last-child]:md:col-start-2", // Center when 1 item is orphaned in the last row
      )}
    >
      {
        posts.slice(0, 9).map(({ url, blurhash }, index) => (
          <li class="aspect-square w-full">
            <a
              href="https://www.instagram.com/explore/tags/pinkosensitivism/"
              target="_blank"
              rel="nofollow"
              title="Visit Pinkosensitivism Hashtag on Instagram"
              class="block h-full w-full transition-transform duration-300 hover:scale-105 hover:shadow"
            >
              <Image
                src={url}
                alt="Visit Pinkosensitivism Hashtag on Instagram"
                width={500}
                height={500}
                sizes="(max-width: 768px) 40vw, 250px"
                breakpoints={[250, 500]}
                loading={index < 9 ? "eager" : "lazy"}
                priority={index < 9}
                background={
                  blurhash ? blurhashToCssGradientString(blurhash) : undefined
                }
              />
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
