---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { cn } from "../lib/utils/cn";

// Add styles for the Instagram grid
const posts = Array.from({ length: 13 });
---

<Layout class="pb-20">
  <div
    slot="hero"
    class="flex min-h-screen flex-col items-center justify-center px-7"
  >
    <h1
      class="clamp-text-[2.125rem,8vw,7rem] lg:clamp-text-[2.125rem,6vw,5rem] xl:clamp-text-[2.125rem,8vw,7rem] text-center font-bold tracking-[-2px]"
    >
      #PINKOSENSITIVISM
    </h1>
    <p
      class="clamp-text-[1rem,3vw,2rem] text-pinko-70 mx-auto mt-8 max-w-[860px] text-center"
    >
      /pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of
      art in the age of virtual connectivity
    </p>
  </div>

  <div class="instagram-wrap mx-auto max-w-[860px] px-5">
    <ul
      id="instagram-grid"
      class={cn(
        "m-0 grid list-none grid-cols-2 gap-5 p-0 md:grid-cols-3 md:gap-10",
        posts.length % 3 === 1 && "[&>*:last-child]:md:col-start-2", // Center when 1 item is orphaned in the last row
      )}
    >
      {
        posts.map((_) => (
          <li class="aspect-square w-full">
            <a
              href="https://www.instagram.com/explore/tags/pinkosensitivism/"
              target="_blank"
              rel="nofollow"
              title="Visit Pinkosensitivism Hashtag on Instagram"
              class="block h-full w-full"
            >
              <article
                class="h-full w-full bg-cover bg-center transition-transform duration-300 hover:scale-105"
                style="background-image: url('https://pinkosensitivism.com/posts/5e6bacdc-7387-40f0-9665-43bd42a63736.png');"
              >
                <Image
                  src="https://pinkosensitivism.com/posts/5e6bacdc-7387-40f0-9665-43bd42a63736.png"
                  alt="Visit Pinkosensitivism Hashtag on Instagram"
                  class="h-full w-full object-cover opacity-0"
                  width={250}
                  height={250}
                  densities={[1, 2]}
                  sizes="(max-width: 768px) 40vw, 250px"
                  quality={80}
                  loading="lazy"
                />
              </article>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
