---
import { Image } from "astro:assets";
import Hero from "~/components/Hero.astro";
import H2 from "~/components/primitives/H2.astro";
import Paragraph from "~/components/primitives/Paragraph.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout class="pb-20">
  <title slot="title">Pinkosensitivism ~ Manifesto</title>
  <Hero slot="hero" class="min-h-80 pt-16 pb-20" />

  <main class="mx-auto w-full max-w-[1020px] px-[30px] md:px-5">
    <article>
      <H2>Pinkosensitivism as Neologism</H2>
      <Paragraph>
        With, so far, almost 4k individual posts, the question that poses itself
        is – What makes an –ism? In this project, the author as an individual
        ceases to exist, and #pinkosensitivism has a life on its own which keeps
        changing. Now, more and more, there are collaborations, and clusters
        where sometimes people work together on larger art projects within the
        #pinkosensitivism.
      </Paragraph>

      <div class="my-24 flex justify-center">
        <Image
          src="/images/manifesto.gif"
          alt="Ben Lewis - What is Relational Art?"
          width={700}
          height={500}
          class="rounded-xs"
          loading="eager"
          priority
        />
      </div>
    </article>
  </main>
</Layout>
