---
import EmailIcon from "../icons/EmailIcon.astro";
import FacebookIcon from "../icons/FacebookIcon.astro";
import InstagramIcon from "../icons/InstagramIcon.astro";
---

<nav
  class="box-border flex h-12 w-full items-stretch justify-between px-[35px] lg:px-[15px]"
>
  <ul
    class="xs:w-full flex w-[250px] list-none flex-nowrap items-center justify-around"
  >
    <li class="block">
      <a href="{{ path('index') }}" class="leading-4">Explore</a>
    </li>
    <li class="block">
      <a href="{{ path('manifesto') }}" class="leading-4">Manifesto</a>
    </li>
    <li class="block">
      <a href="{{ path('about') }}" class="leading-4">About</a>
    </li>
  </ul>
  <ul class="xs:hidden flex list-none flex-nowrap items-center justify-around">
    <li>
      <a
        href="mailto:info.pinkosensitivism@gmail.com"
        target="_blank"
        title="Send in a submission or contact via Email message"
        aria-label="Contact via Email"
        class="group"
      >
        <EmailIcon />
      </a>
    </li>
    <li>
      <a
        href="https://www.instagram.com/pinkosensitivism/"
        target="_blank"
        title="Open Pinkosensitivism Hashtag on Instagram"
        aria-label="Visit Pinkosensitivism on Instagram"
        class="group"
      >
        <InstagramIcon />
      </a>
    </li>
    <li>
      <a
        href="https://www.facebook.com/hashtag/pinkosensitivism"
        target="_blank"
        title="Open Pinkosensitivism Page on Facebook"
        aria-label="Visit Pinkosensitivism on Facebook"
        class="group"
      >
        <FacebookIcon />
      </a>
    </li>
  </ul>
</nav>
