---
import { cn } from "../lib/utils/cn";

const { class: className } = Astro.props;
---

<div
  class={cn(
    "flex min-h-screen flex-col items-center justify-center px-7",
    className,
  )}
>
  <h1
    class="clamp-text-[2.125rem,8vw,7rem] lg:clamp-text-[2.125rem,6vw,5rem] xl:clamp-text-[2.125rem,8vw,7rem] text-center font-bold tracking-[-2px]"
  >
    #PINKOSENSITIVISM
  </h1>
  <p
    class="clamp-text-[1rem,3vw,2rem] text-pinko-70 mx-auto mt-8 max-w-[860px] text-center"
  >
    /pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of
    art in the age of virtual connectivity
  </p>
</div>
