{% extends "base.html.twig" %}

{% block title %}
    Pinkosensitivism ~ Manifesto
{% endblock %}

{% block hero %}
    <h1 class="title title-small">#PINKOSENSITIVISM</h1>
    <p class="title-sub">/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the </br>collective work of art in the age of virtual connectivity</p>
{% endblock %}

{% block body %}
    <main class="content">
        <h2>Pinkosensitivism as Neologism</h2>
        <p>With so far almost 2k individual posts, the question that poses itself is – What makes an –ism? In this project, the author as an individual ceases to exist, and #pinkosensitivism has a life on its own which keeps changing. Now, more and more, there are collaborations, and clusters where sometimes people work together on larger art projects within the #pinkosensitivism.</p>
        <p><img class="manifesto-gif" src="{{ asset('build/images/manifesto.gif') }}" alt="Ben Lewis - What is Relational Art?"></p>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('build/js/manifesto.js') }}"></script>
{% endblock %}
