---
type Props = {
  class?: string;
};

const { class: className } = Astro.props;

import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import BackToTop from "~/components/BackToTop.astro";
import Header from "~/components/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="title">
      <title>Pinkosensitivism</title>
    </slot>
    <slot name="meta">
      <meta
        name="description"
        content="/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of art in the age of virtual connectivity"
      />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="Pinkosensitivism" />
      <meta
        property="og:description"
        content="/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of art in the age of virtual connectivity"
      />
      <meta property="og:image" content="/images/og-hero.png" />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@markomitranic" />
      <meta name="twitter:creator" content="@markomitranic" />
      <meta name="twitter:title" content="Pinkosensitivism" />
      <meta
        name="twitter:description"
        content="/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of art in the age of virtual connectivity"
      />
      <meta name="twitter:image" content="/images/og-hero.png" />
    </slot>
  </head>
  <body class:list={["bg-pinko text-white", className]}>
    <Header />

    <slot name="hero" />
    <slot />

    <BackToTop />
  </body>
</html>
