---
import "@fontsource/roboto/400.css";
import "@fontsource/roboto/700.css";
import Header from "~/components/Header/Header.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="title">
      <title>Pinkosensitivism</title>
    </slot>
    <slot name="meta">
      <meta
        name="description"
        content="/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of art in the age of virtual connectivity"
      />
      <meta property="og:url" content="{{ url('index') }}" />
      <meta property="og:type" content="article" />
      <meta property="og:title" content="Pinkosensitivism" />
      <meta
        property="og:description"
        content="/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of art in the age of virtual connectivity"
      />
      <meta
        property="og:image"
        content="{{ asset('build/images/og-hero.png') }}"
      />
      <meta name="twitter:card" content="summary_large_image" />
      <meta name="twitter:site" content="@markomitranic" />
      <meta name="twitter:creator" content="@markomitranic" />
      <meta name="twitter:title" content="Pinkosensitivism" />
      <meta
        name="twitter:description"
        content="/pɪŋkoʊˈsɛnsətɪvɪz(ə)m/ - Neologism that represents the collective work of art in the age of virtual connectivity"
      />
      <meta
        name="twitter:image"
        content="{{ asset('build/images/og-hero.png') }}"
      />
    </slot>
  </head>
  <body class="bg-pinko text-white">
    <Header />

    <slot name="hero" />
    <slot />

    <div
      id="back-to-top"
      class="group fixed bottom-[10px] left-1/2 h-[40px] w-[40px] -translate-x-1/2 cursor-pointer transition-all duration-200 ease-out hover:bottom-[12px]"
    >
      <div
        class="transition-transform duration-500 ease-out group-[.down]:rotate-180"
      >
        <svg
          width="40px"
          height="40px"
          viewBox="0 0 40 40"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <defs>
            <rect id="path-1" x="0" y="0" width="40" height="40" rx="20"></rect>
          </defs>
          <g
            id="Symbols"
            stroke="none"
            stroke-width="1"
            fill="none"
            fill-rule="evenodd"
          >
            <g id="Back-To-Top">
              <g>
                <g id="Rectangle-3">
                  <use
                    fill-opacity="0.3"
                    fill="#FFFFFF"
                    fill-rule="evenodd"
                    xlink:href="#path-1"></use>
                  <rect
                    stroke="#FFFFFF"
                    stroke-width="4"
                    x="2"
                    y="2"
                    width="36"
                    height="36"
                    rx="18"></rect>
                </g>
                <path
                  d="M12.5,22.5 L19.5,15.5"
                  id="Line"
                  stroke="#FFFFFF"
                  stroke-width="4"
                  stroke-linecap="square"></path>
                <path
                  d="M19.5,15.5 L26.5622577,22.5"
                  id="Line"
                  stroke="#FFFFFF"
                  stroke-width="4"
                  stroke-linecap="square"></path>
              </g>
            </g>
          </g>
        </svg>
      </div>
    </div>
  </body>
</html>
